<div class="modal-dialog">
  <div class="modal-content">
    <form action="/categorias/createupdate" method="<%= categoria ? 'put' : 'post' %>" id="formcategoria">
      <input type="hidden" name="id" value="<%= categoria ? categoria.id : '' %>">
      <div class="modal-header">
        <h5 class="modal-title">
          <button type="button" class="btn btn-primary btn-sm" onclick="document.getElementById('crud').loadModal()"><i
              class="fas fa-sync-alt"></i></button>
          <%= categoria ? 'Atualizar' : 'Cadastrar' %> categoria
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% if (typeof niveis !=="undefined" ) { %>
          <div class="mb-3">
            <label for="nome" class="form-label">Nível<small> para pesquisar em <i>Categoria Pai</i></small></label>
            <%- formHelpers.formDropDown('nivel', niveis, null, `class="form-select" `) %>
          </div>
          <% } %>
            <div class="mb-3">
              <label for="nome" class="form-label">Categoria Pai</label>
              <%- formHelpers.formDropDown('categoria', categorias, categoria?.categoria, `class="form-select" `) %>
            </div>
            <div class="mb-3">
              <label for="nome" class="form-label">Nome</label>
              <input type="text" class="form-control text-uppercase" id="nome"
                value="<%= categoria ? categoria.nome : '' %>" name="nome" placeholder="Digite um nome aqui..."
                autocomplete="off">
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-success">Salvar</button>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
  {
    function init() {
      console.clear();

      let input = document.getElementById('nome');

      input.focus();

      const form = document.querySelector(".modal form#formcategoria");
      form.submitModal({
        success: (response) => {
          console.log(response);
          // window.location.reload();
          tableElement.JSTable.update();
        }
      });

      const selectElementNivel = document.querySelector(`select[name="nivel"]`);
      const categorias = [...document.querySelectorAll(`select[name="categoria"] > option`)]
        .map(option => ({
          value: option.value,
          text: option.innerText,
          nivel: option.innerText.split(' - ')[0]
        }));

      if (selectElementNivel && selectElementNivel.length > 0) {
        selectElementNivel.addEventListener('change', (e) => {
          const nivel = selectElementNivel.value;
          const selectElementCategoria = document.querySelector(`select[name="categoria"]`);
          selectElementCategoria.innerHTML = '';
          if (nivel) {
            selectElementCategoria.innerHTML = `<option value="">Selecione uma categoria</option>`;
            const categoria = categorias.filter(n => n.nivel == nivel);
            
            if (categoria) {
              let cntCategoria = categoria.length;
              categoria.forEach(c => {
                selectElementCategoria.innerHTML += `<option value="${c.value}"${(cntCategoria == 1 ? 'selected' : '')}>${c.text}</option>`;
              });
            }
          } else {
            categorias.forEach(c => {
              selectElementCategoria.innerHTML += `<option value="${c.value}">${c.text}</option>`;
            });
          }
        });
      }
    }

    setTimeout(() => init(), 250);
  }
</script>